<div class="white-nav
 sticky-top">
    <div class="container">
        <div class="row">
            <!-- nav -->
            <div class="col paddingfirstnav1">
                <nav class="navbar paddingfirstnav2 navbar-expand-lg">
                    <!-- logo1 -->
                    <a class="navbar-brand p-0" href='https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/' title='Vaxi' rel='home'>
                        <img src='../wp-content/uploads/2021/09/Logo1.png' alt='Vaxi'>
                    </a>

                    <div class="
          justify-content-end custom-mega-menu collapse navbar-collapse" id="main_nav">
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="navbar-nav">
                                <li id="menu-item-1591" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1591">
                                    <a href="#">Home</a><span class="icon"></span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-7337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-7337"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/">Home 1</a></li>
                                        <li id="menu-item-5496" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5370 current_page_item menu-item-5496"><a href="index.html" aria-current="page">Home 2</a></li>
                                        <li id="menu-item-8279" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8279"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/home3-2/">Home 3</a></li>
                                        <li id="menu-item-8406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8406"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/home1-slider/">Home1 slider</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1593"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/about-us/">About</a></li>
                                <li id="menu-item-1652" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1652"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/services/">Services</a></li>
                                <li id="menu-item-1595" class="mega-menu-column menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1595">
                                    <a href="#">Pages</a><span class="icon"></span>
                                    <ul class="sub-menu">
                                        <li id="menu-item-4579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4579">
                                            <a href="#">Blog single</a><span class="icon"></span>
                                            <ul class="sub-menu">
                                                <li id="menu-item-2665" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2665"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/ensuring-covid-19-vaccine-safety-in-the-monitoring-systems/">Single post</a></li>
                                                <li id="menu-item-4580" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-4580"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/ensuring-covid-19-vaccine-safety-in-the-monitoring-systems-2/">Single post second</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1596" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1596">
                                            <a href="#">Blog</a><span class="icon"></span>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1842"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/blog-archive/">Blog archive</a></li>
                                                <li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/blog-archive-sidebar/">Blog archive sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1597" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1597">
                                            <a href="#">Team</a><span class="icon"></span>
                                            <ul class="sub-menu">
                                                <li id="menu-item-617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/team/">Our doctors</a></li>
                                                <li id="menu-item-1367" class="menu-item menu-item-type-post_type menu-item-object-rtvaxi-team menu-item-1367"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/team/jordan-hewwit-md/">Jordan Hewwit, MD</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1653" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1653">
                                            <a href="#">Speciality</a><span class="icon"></span>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1365"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/family-physician/">Family Physician</a></li>
                                                <li id="menu-item-1760" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1760"><a href="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/programs/">Programs</a></li>
                                                <li id="menu-item-2200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2200"><a href="../404.html">404</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594"><a href="../contact/index.html">Contact</a></li>
                                <li id="menu-item-1839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1839"><a href="../faq/index.html">FAQ</a></li>
                                <li id="menu-item-8418" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8418"><a href="../shop/index.html">Shop</a></li>
                            </ul>
                        </div>
                        <div class="widget-menu">
                            <div class="widget widget_block">
                                <div class="widget-content">
                                    <div style="margin-right: 18px;display: inline-block;">
                                        <div class="paoc-image-popup">
                                            <a class="paoc-popup-click paoc-popup-cust-625 paoc-popup-image paoc-popup-image" href="javascript:void(0);"><img decoding="async" class="popupaoc-img" src="../wp-content/uploads/2021/09/Button5.png" alt="" /></a>

                                        </div>

                                    </div>
                                        <a class="paoc-popup-click paoc-popup-cust-624 paoc-popup-button paoc-popup-btn custom-button1" href="javascript:void(0);">Sign Up</a>
                                        <a class="paoc-popup-click paoc-popup-cust-624 paoc-popup-button paoc-popup-btn custom-button1" style="background-color: transparent; color: black" href="javascript:void(0);">Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="navbar-toggler pt-1 pr-0 first-button" type="button" data-toggle="collapse" data-target="#main_nav"
                            aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="animated-icon1"><span></span><span></span><span></span></span>
                    </button>
                </nav>
            </div>
        </div>
    </div>
</div>
