@model VaccineTrakingSystem.BLL.DTOs.LoginDTO

@{
    ViewData["Title"] = "Login";
}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login-container">
        <h2 class="text-center mb-3">Login</h2>
        <form asp-action="Login" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
            <div class="mb-2" style="height: 3rem">
                <label asp-for="PhoneNumber" class="form-label" style="font-weight: 500;"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-2" style="height: 3rem">
                <label asp-for="Password" class="form-label" style="font-weight: 500;"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3" style="margin: 30px 0 30px 0 !important;">Login</button>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </form>
        <div class="login-footer d-flex justify-content-between">
            <a asp-action="ForgotPassword" class="text-decoration-none">Forgot Password?</a>
            <span>
                Don't have an account?
                <a asp-action="Register" class="text-decoration-none">Sign Up</a>
            </span>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .login-container {
        max-width: 380px;
        width: 100%;
        background-color: rgba(0, 71, 240, 0.131704);
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 15px 12px rgba(0, 0, 0, 0.1);
    }

        .login-container .form-label {
            margin-bottom: 0.3rem;
        }

        .login-container h2 {
            margin-bottom: 15px; /* Giảm từ 3rem xuống 15px */
        }
</style>
