@{
    ViewData["Title"] = "Registration Success";
}

<div class="container mt-5">
    <div class="alert alert-success text-center">
        Registration successful! You may now <a asp-action="Login" asp-controller="Authentication">login</a>.
    </div>
</div>
