@{
    ViewData["Titile"] = "Home";
}

<main>
    <div class="post-5370 page type-page status-publish hentry" id="post-5370">
        <div class="post-inner">
            <div class="entry-content">
                <div data-elementor-type="wp-page" data-elementor-id="5370" class="elementor elementor-5370">
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-1257598 elementor-section-full_width elementor-section-content-top elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="1257598" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cb09e99 elementor-invisible" data-id="cb09e99" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-cb718cb elementor-invisible elementor-widget elementor-widget-image" data-id="cb718cb" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img fetchpriority="high" decoding="async" width="580" height="316" src="../wp-content/uploads/2021/09/Elements-to-Animation.png" class="attachment-large size-large wp-image-253" alt="" srcset="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/09/Elements-to-Animation.png 792w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/09/Elements-to-Animation-300x163.png 300w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/09/Elements-to-Animation-768x418.png 768w" sizes="(max-width: 580px) 100vw, 580px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d6b8ef4 elementor-invisible" data-id="d6b8ef4" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bbb3c28 elementor-widget elementor-widget-dustro-banner2" data-id="bbb3c28" data-element_type="widget" data-widget_type="dustro-banner2.default">
                                        <div class="elementor-widget-container">

                                            <div class="banner2">
                                                <div class="row">
                                                    <div class="col p-0">
                                                        <H1>
                                                            <span>Best Lab-Testing Methods</span>
                                                        </H1>
                                                        <h3>SARS Cov-2 Coronavirus (COVID-19)</h3>
                                                        <p>Pellentesque fringilla nisi eros, quis vulputate diam rutrum et. Mauris in erat auctor, scelerisque nisi in, laoreet risus. Phasellus venenatis tellus eget turpis vestibulum tempor. In tempor tincidunt porttitor</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-136ccf7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="136ccf7" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;none&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ef1d84a elementor-invisible" data-id="ef1d84a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:100}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-6b64d02 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6b64d02" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-extended">
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-9223293 elementor-invisible" data-id="9223293" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-4e41ede box-shadow-hover elementor-widget elementor-widget-dustro-icons4" data-id="4e41ede" data-element_type="widget" data-widget_type="dustro-icons4.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons4">
                                                                <div class="img-wrapper img-wrapper-secondcolor">
                                                                    <img decoding="async" src="../wp-content/uploads/2021/10/12.svg" alt="Why should I get vaccinated for COVID-19?">
                                                                </div>
                                                                <h3>Why should I get vaccinated for COVID-19?</h3>
                                                                <p>Sed condimentum diam eget porta dapibus. Morbi sagittis quis metus ac vulputate. Donec dapibus erat</p>
                                                                <a href="#"><span>Read more</span><i class="fas fa-angle-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-dadba10 elementor-invisible" data-id="dadba10" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:0}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-59ddb76 box-shadow-hover elementor-widget elementor-widget-dustro-icons4a" data-id="59ddb76" data-element_type="widget" data-widget_type="dustro-icons4a.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons4">
                                                                <div class="img-wrapper img-wrapper-thirdcolor">
                                                                    <img decoding="async" src="../wp-content/uploads/2021/10/5.png" alt="Emergency case">
                                                                </div>
                                                                <h3>Emergency case</h3>
                                                                <h4><a href="tel:">+1-795-5582-795</a></h4>
                                                                <p>Phasellus nec magna lorem ipsum posuere, convallis nibh sit am</p>
                                                                <a href="#">Read more<i class="fas fa-angle-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fa214e4 elementor-invisible" data-id="fa214e4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_delay&quot;:0}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-3ff129e box-shadow-hover elementor-widget elementor-widget-dustro-icons4" data-id="3ff129e" data-element_type="widget" data-widget_type="dustro-icons4.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons4">
                                                                <div class="img-wrapper img-wrapper-firstcolor">
                                                                    <img decoding="async" src="../wp-content/uploads/2021/10/10.svg" alt="When and how do I can get a COVID-19 Vaccine?">
                                                                </div>
                                                                <h3>When and how do I can get a COVID-19 Vaccine?</h3>
                                                                <p>Sed condimentum diam eget porta dapibus. Morbi sagittis quis metus ac vulputate. Donec dapibus erat</p>
                                                                <a href="#l"><span>Read more</span><i class="fas fa-angle-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-f81734e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f81734e" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8cd164e" data-id="8cd164e" data-element_type="column">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6fb298c elementor-invisible" data-id="6fb298c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-a87d8e7 elementor-widget elementor-widget-text-editor" data-id="a87d8e7" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <h2 style="text-align: center; font-weight: 800;">How to get tested for Coronavirus?</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a14084f" data-id="a14084f" data-element_type="column">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-7bf3369 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7bf3369" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-2f1a227" data-id="2f1a227" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-07a822d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="07a822d" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-9c89e19 elementor-invisible" data-id="9c89e19" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-59a0720 elementor-widget elementor-widget-dustro-icons2at" data-id="59a0720" data-element_type="widget" data-widget_type="dustro-icons2at.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons2 icons2a icons2at row p-0">
                                                                <div class="col order-lg-1 order-2">
                                                                    <div class="text-wrapper">
                                                                        <h3>Avialibility of test results anywhere</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto order-lg-2 order-1 p-0">
                                                                    <div class="image-wrapper">
                                                                        <img decoding="async" src="../wp-content/uploads/2021/10/23.png" alt="Avialibility of test results anywhere">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-9b5aeb9 elementor-widget elementor-widget-dustro-icons2at" data-id="9b5aeb9" data-element_type="widget" data-widget_type="dustro-icons2at.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons2 icons2a icons2at row p-0">
                                                                <div class="col order-lg-1 order-2">
                                                                    <div class="text-wrapper">
                                                                        <h3>Information about test results </h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto order-lg-2 order-1 p-0">
                                                                    <div class="image-wrapper">
                                                                        <img decoding="async" src="../wp-content/uploads/2021/10/05.png" alt="Information about test results ">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7464d7c elementor-widget elementor-widget-dustro-icons2at" data-id="7464d7c" data-element_type="widget" data-widget_type="dustro-icons2at.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons2 icons2a icons2at row p-0">
                                                                <div class="col order-lg-1 order-2">
                                                                    <div class="text-wrapper">
                                                                        <h3>Pay for test  anywhere lore</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto order-lg-2 order-1 p-0">
                                                                    <div class="image-wrapper">
                                                                        <img decoding="async" src="../wp-content/uploads/2021/10/06.png" alt="Pay for test  anywhere lore">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9c3f03e elementor-invisible" data-id="9c3f03e" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-472db86 elementor-widget elementor-widget-image" data-id="472db86" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img decoding="async" width="580" height="580" src="../wp-content/uploads/2021/10/Arrow-Circle-Progressbar1.svg" class="attachment-large size-large wp-image-3170" alt="" srcset="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads//2021/10/Arrow-Circle-Progressbar1.svg 150w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads//2021/10/Arrow-Circle-Progressbar1.svg 300w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads//2021/10/Arrow-Circle-Progressbar1.svg 1024w" sizes="(max-width: 580px) 100vw, 580px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-c2f94c7 elementor-invisible" data-id="c2f94c7" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-ce3127f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ce3127f" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-525fe56 elementor-invisible" data-id="525fe56" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-0e68aad elementor-widget elementor-widget-dustro-icons2bt" data-id="0e68aad" data-element_type="widget" data-widget_type="dustro-icons2bt.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons2 icons2b icons2bt row p-0">
                                                                <div class="col-auto p-0">
                                                                    <div class="image-wrapper">
                                                                        <img decoding="async" src="../wp-content/uploads/2021/10/4-1.png" alt="Get a doctor&#039;s consultation">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="text-wrapper">
                                                                        <h3>Get a doctor&#039;s consultation</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-b13641b elementor-widget elementor-widget-dustro-icons2bt" data-id="b13641b" data-element_type="widget" data-widget_type="dustro-icons2bt.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons2 icons2b icons2bt row p-0">
                                                                <div class="col-auto p-0">
                                                                    <div class="image-wrapper">
                                                                        <img decoding="async" src="../wp-content/uploads/2021/10/11.png" alt="Sign up for testing lorem ipsum">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="text-wrapper">
                                                                        <h3>Sign up for testing lorem ipsum</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-4507628 elementor-widget elementor-widget-dustro-icons2bt" data-id="4507628" data-element_type="widget" data-widget_type="dustro-icons2bt.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="icons2 icons2b icons2bt row p-0">
                                                                <div class="col-auto p-0">
                                                                    <div class="image-wrapper">
                                                                        <img decoding="async" src="../wp-content/uploads/2021/10/01.png" alt="Lorem ipsum dolor sit amet">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="text-wrapper">
                                                                        <h3>Lorem ipsum dolor sit amet</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-41e970c elementor-section-content-middle text-center elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="41e970c" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7f9db1 elementor-invisible" data-id="c7f9db1" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-decffef elementor-widget elementor-widget-shortcode" data-id="decffef" data-element_type="widget" data-widget_type="shortcode.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-shortcode">
                                                <a class="paoc-popup-click paoc-popup-cust-1006 paoc-popup-button paoc-popup-btn custom-button1" href="javascript:void(0);">get coupon here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-5003a69 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5003a69" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2c523a0" data-id="2c523a0" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-ec5fd2e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ec5fd2e" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c3a62f7" data-id="c3a62f7" data-element_type="column">
                                                <div class="elementor-widget-wrap">
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-94f94e1 elementor-invisible" data-id="94f94e1" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-b41b58c elementor-widget elementor-widget-text-editor" data-id="b41b58c" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <h2 style="text-align: center; font-weight: 800;">Services</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7cdf42b" data-id="7cdf42b" data-element_type="column">
                                                <div class="elementor-widget-wrap">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @await Component.InvokeAsync("Service")
                                </div>  
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-da2f8c1 elementor-section-content-bottom elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="da2f8c1" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2b88e29" data-id="2b88e29" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-5c65511 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c65511" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-dfd703e elementor-invisible" data-id="dfd703e" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-f5a9390 elementor-widget elementor-widget-heading" data-id="f5a9390" data-element_type="widget" data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h3 class="elementor-heading-title elementor-size-default">Answers to more questions here</h3>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-0e564d9 elementor-widget elementor-widget-heading" data-id="0e564d9" data-element_type="widget" data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h4 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit amor etiam mauris massa seffictur egeot ele eu pretium accumsan src</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-2cb3747 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2cb3747" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-36f0e8b elementor-invisible" data-id="36f0e8b" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-3de6ed2 elementor-widget elementor-widget-dustro-faq2" data-id="3de6ed2" data-element_type="widget" data-widget_type="dustro-faq2.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="faq2">
                                                                <h3>Lab Testing Capability</h3>
                                                                <p>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-2f9acba elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2f9acba" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-9c50e81 elementor-invisible" data-id="9c50e81" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:200}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-bbaf818 elementor-widget elementor-widget-dustro-faq2" data-id="bbaf818" data-element_type="widget" data-widget_type="dustro-faq2.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="faq2">
                                                                <h3>Emergency Medical Tems</h3>
                                                                <p>Etiam mauris lmassa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-2ee5ebe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2ee5ebe" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-b2b20ea elementor-invisible" data-id="b2b20ea" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:400}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-8ef9717 elementor-widget elementor-widget-dustro-faq2" data-id="8ef9717" data-element_type="widget" data-widget_type="dustro-faq2.default">
                                                        <div class="elementor-widget-container">

                                                            <div class="faq2">
                                                                <h3>Personal Protective Equipment</h3>
                                                                <p>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4ae239b" data-id="4ae239b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-7db3782 elementor-widget elementor-widget-image" data-id="7db3782" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img decoding="async" width="580" height="646" src="../wp-content/uploads/2021/10/0001-1-919x1024.jpg" class="attachment-large size-large wp-image-5768" alt="" srcset="https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/10/0001-1-919x1024.jpg 919w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/10/0001-1-269x300.jpg 269w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/10/0001-1-768x855.jpg 768w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/10/0001-1-1379x1536.jpg 1379w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/10/0001-1-1839x2048.jpg 1839w, https://rayoflightthemes.com/wordpress-themes/vaxi-wordpress-theme/wp-content/uploads/2021/10/0001-1-1200x1337.jpg 1200w" sizes="(max-width: 580px) 100vw, 580px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-916d51c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="916d51c" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-07598c5 elementor-invisible" data-id="07598c5" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-10121b6 elementor-widget elementor-widget-dustro-textbox1" data-id="10121b6" data-element_type="widget" data-widget_type="dustro-textbox1.default">
                                        <div class="elementor-widget-container">

                                            <div class="textbox1">
                                                <i class="fa fa-cogs"></i>
                                                <h3>The symptoms of coronavirus infections in general are:</h3>
                                                <div class="textbox1-list">
                                                    <ul>
                                                        <li>Fever</li>
                                                        <li>Cough</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Shortness of breath</li>
                                                        <li>Sore throat</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Headache</li>
                                                        <li>Loss of taste or smell</li>
                                                    </ul>
                                                </div>
                                                <a href="#">Key Things to Know <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-92fee77 elementor-invisible" data-id="92fee77" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:100}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-22d3ab5 elementor-widget elementor-widget-dustro-textbox2" data-id="22d3ab5" data-element_type="widget" data-widget_type="dustro-textbox2.default">
                                        <div class="elementor-widget-container">

                                            <div class="textbox2">
                                                <i class="fas fa-comment-medical"></i>
                                                <h3>Rigorous testing in rials</h3>
                                                <p>Tempor commodo ullamcorper a lacus vestibulum sed. Viverra nam libero justo laoreet sit amet cursus sit. Vivamus arcu felis bibendum. Arcu felis bibendum ut tristique et egestas quis</p>
                                                <a href="#">Read more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-c7f74ca elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c7f74ca" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4896916" data-id="4896916" data-element_type="column">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-112791c elementor-invisible" data-id="112791c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1f22009 elementor-widget elementor-widget-text-editor" data-id="1f22009" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <h2 style="text-align: center; font-weight: 800;">Q&amp;As on COVID-19 and related health topics</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-34927fa" data-id="34927fa" data-element_type="column">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-f287b28 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f287b28" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-edfc74a" data-id="edfc74a" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-bfd64e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="bfd64e9" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-eb676ca" data-id="eb676ca" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-e1abd5e elementor-accordion-faq box-shadow elementor-widget elementor-widget-accordion" data-id="e1abd5e" data-element_type="widget" data-widget_type="accordion.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-accordion">
                                                                <div class="elementor-accordion-item">
                                                                    <div id="elementor-tab-title-2361" class="elementor-tab-title" data-tab="1" role="button" aria-controls="elementor-tab-content-2361" aria-expanded="false">
                                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                                            <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                                                        </span>
                                                                        <a class="elementor-accordion-title" tabindex="0">What are the most common side effects after getting the vaccine?</a>
                                                                    </div>
                                                                    <div id="elementor-tab-content-2361" class="elementor-tab-content elementor-clearfix" data-tab="1" role="region" aria-labelledby="elementor-tab-title-2361"><p>Morbi ut vehicula urna. Donec sodales laoreet odio at sollicitudin. In sed tellus purus. Cras quis nisl id massa pellentesque fringilla. Maecenas ullamcorper porttitor magna, at varius urna venenatis quis. Cras finibus sit amet quam sit amet varius. Morbi feugiat laoreet ex, nec lacinia justo fermentum eget. Curabitur interdum libero congue lectus auctor luctus. Sed consectetur, nisi congue laoreet interdum, ligula mi laoreet ipsum, a vulputate turpis. Curabitur interdum libero congue lectus auctor luctus. Sed consectetur, nisi congue laoreet interdum, ligula mi laoreet ipsum, a vulputate turpis</p></div>
                                                                </div>
                                                                <div class="elementor-accordion-item">
                                                                    <div id="elementor-tab-title-2362" class="elementor-tab-title" data-tab="2" role="button" aria-controls="elementor-tab-content-2362" aria-expanded="false">
                                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                                            <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                                                        </span>
                                                                        <a class="elementor-accordion-title" tabindex="0">When will vaccine be available to me?</a>
                                                                    </div>
                                                                    <div id="elementor-tab-content-2362" class="elementor-tab-content elementor-clearfix" data-tab="2" role="region" aria-labelledby="elementor-tab-title-2362"><p>Lorem Morbi ut vehicula urna. Donec sodales laoreet odio at sollicitudin. In sed tellus purus. Cras quis nisl id massa pellentesque fringilla. Maecenas ullamcorper porttitor magna, at varius urna venenatis quis. Cras finibus sit amet quam sit amet varius. Morbi feugiat laoreet ex, nec lacinia justo fermentum eget. Curabitur interdum libero congue lectus auctor luctus. Sed consectetur, nisi congue laoreet interdum, ligula mi laoreet ipsum, a vulputate turpis. Curabitur interdum libero congue lectus auctor luctus. Sed consectetur, nisi congue laoreet interdum, ligula mi laoreet ipsum, a vulputate turpis</p></div>
                                                                </div>
                                                                <div class="elementor-accordion-item">
                                                                    <div id="elementor-tab-title-2363" class="elementor-tab-title" data-tab="3" role="button" aria-controls="elementor-tab-content-2363" aria-expanded="false">
                                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                                            <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                                                        </span>
                                                                        <a class="elementor-accordion-title" tabindex="0">Can I choose wich vaccine I get?</a>
                                                                    </div>
                                                                    <div id="elementor-tab-content-2363" class="elementor-tab-content elementor-clearfix" data-tab="3" role="region" aria-labelledby="elementor-tab-title-2363"><p>Lorem ipsum dolor sit ament</p></div>
                                                                </div>
                                                                <div class="elementor-accordion-item">
                                                                    <div id="elementor-tab-title-2364" class="elementor-tab-title" data-tab="4" role="button" aria-controls="elementor-tab-content-2364" aria-expanded="false">
                                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                                            <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                                                        </span>
                                                                        <a class="elementor-accordion-title" tabindex="0">When will vaccine be available to me?</a>
                                                                    </div>
                                                                    <div id="elementor-tab-content-2364" class="elementor-tab-content elementor-clearfix" data-tab="4" role="region" aria-labelledby="elementor-tab-title-2364">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                                                                </div>
                                                                <div class="elementor-accordion-item">
                                                                    <div id="elementor-tab-title-2365" class="elementor-tab-title" data-tab="5" role="button" aria-controls="elementor-tab-content-2365" aria-expanded="false">
                                                                        <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                                                            <span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
                                                                            <span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
                                                                        </span>
                                                                        <a class="elementor-accordion-title" tabindex="0">Do I still need to wear a mask and socially distance after getting the vaccine?</a>
                                                                    </div>
                                                                    <div id="elementor-tab-content-2365" class="elementor-tab-content elementor-clearfix" data-tab="5" role="region" aria-labelledby="elementor-tab-title-2365">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-87eb3de elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="87eb3de" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ffde5e5 elementor-invisible" data-id="ffde5e5" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-81668c1 elementor-widget elementor-widget-image-carousel" data-id="81668c1" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;slides_to_show_tablet&quot;:&quot;3&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image-carousel-wrapper swiper" role="region" aria-roledescription="carousel" aria-label="Image Carousel" dir="ltr">
                                                <div class="elementor-image-carousel swiper-wrapper" aria-live="off">
                                                    <div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/LOGO_ai_rgb.png" alt="LOGO_ai_rgb" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/MEDICAL-HEALTH-logo.png" alt="MEDICAL-HEALTH-logo" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/humancare.png" alt="humancare" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/medicallogo.png" alt="medicallogo" /></figure></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-edf5535 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="edf5535" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1282a87 elementor-invisible" data-id="1282a87" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-328a97f elementor-widget elementor-widget-heading" data-id="328a97f" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">A Virtual Health Assistant</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-57d2c7b elementor-widget elementor-widget-text-editor" data-id="57d2c7b" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <strong style="display: block; margin-bottom: 18px; color: #2471fb;">Your 24/7 resource for easy, convenient healthcare app. Meet the growing demand for telehealth solutions head-o</strong>Nullam efficitur bibendum lectus, ut cursus libero scelerisque in. Phasellus sed ante ut quam fringilla elementum. Etiam egestas, lectus vel efficitur tristique, urna odio elementum leo, in dictum odio dolor vel ante
                                        </div>
                                    </div>
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-1cb0e64 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1cb0e64" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9fbab33" data-id="9fbab33" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-9f5fbad elementor-widget elementor-widget-image" data-id="9f5fbad" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <a href="#">
                                                                <img loading="lazy" decoding="async" width="156" height="47" src="../wp-content/uploads/2021/10/App.jpg" class="attachment-large size-large wp-image-1481" alt="" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a49ddeb" data-id="a49ddeb" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-8f2df95 elementor-widget elementor-widget-image" data-id="8f2df95" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <a href="#">
                                                                <img loading="lazy" decoding="async" width="156" height="47" src="../wp-content/uploads/2021/10/Play.jpg" class="attachment-large size-large wp-image-1482" alt="" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8d326b8 elementor-invisible" data-id="8d326b8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- .entry-content -->
        </div><!-- .post-inner -->
    </div>
</main>