@{
	ViewData["Titile"] = "Service";
}


<div class="innerpages-title-wrapper bg-title-page">
	<div class="innerpages-title">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h1>Services</h1>
					<div class="innerpages-title-border"></div>
					<div class="breadcrumb1">
						<!-- Breadcrumb NavXT 7.4.1 -->
						<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Vaxi." href="" class="home"><span property="name">Vaxi</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Services</span><meta property="url" content="index.html"><meta property="position" content="2"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="post-1605 page type-page status-publish hentry" id="post-1605">
		<div class="post-inner">
			<div class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="1605" class="elementor elementor-1605">
				@await Component.InvokeAsync("Service")
				<hr />
				<div class="row">
					<div class="col-lg-8 offset-lg-2" style="text-align: center;">
						<h1>About Us</h1>
					</div>
				</div>
					<section class="elementor-section elementor-top-section elementor-element elementor-element-2202461 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2202461" data-element_type="section">
						<div class="elementor-container elementor-column-gap-extended">
							<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a631963 elementor-invisible" data-id="a631963" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-7436889 elementor-widget elementor-widget-dustro-servicebox" data-id="7436889" data-element_type="widget" data-widget_type="dustro-servicebox.default">
										<div class="elementor-widget-container">

											<div class="servicebox">
												<div>
													<a class="serviceboximg" href="../family-physician/index.html"><img decoding="async" src="../wp-content/uploads/2021/09/Img-Placeholder2-11.jpg" alt=""></a>
												</div>
												<div class="servicebox-title">
													<h3><i class="fa fa-user-md"></i> Pediatry</h3>
												</div>
												<div class="text-wrapper">
													<ul class="servicebox-list show3">
														<li><i class="fas fa-check"></i><span>Rhoncus mattis rhoncus urna </span></li>
														<li><i class="fas fa-check"></i><span>Suspendisse nec ultricies elit, ac accumsan neque </span></li>
														<li><i class="fas fa-check"></i><span>Vivamus vulputate, tellus a malesu</span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
													</ul>
													<a class="serviceboxbutton" href="#">Read more <i class="fa fa-chevron-right"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-bc78b5c elementor-widget elementor-widget-dustro-servicebox" data-id="bc78b5c" data-element_type="widget" data-widget_type="dustro-servicebox.default">
										<div class="elementor-widget-container">

											<div class="servicebox">
												<div>
													<a class="serviceboximg" href="#"><img decoding="async" src="../wp-content/uploads/2021/09/Img-Placeholder2-11-2.jpg" alt=""></a>
												</div>
												<div class="servicebox-title">
													<h3><i class="fas fa-heartbeat"></i> Cardiology</h3>
												</div>
												<div class="text-wrapper">
													<ul class="servicebox-list show3">
														<li><i class="fas fa-check"></i><span>Rhoncus mattis rhoncus urna </span></li>
														<li><i class="fas fa-check"></i><span>Suspendisse nec ultricies elit, ac accumsan neque </span></li>
														<li><i class="fas fa-check"></i><span>Vivamus vulputate, tellus a malesu</span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
													</ul>
													<a class="serviceboxbutton" href="../family-physician/index.html">Read more <i class="fa fa-chevron-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8a499c6 elementor-invisible" data-id="8a499c6" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:200}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-8510baa elementor-widget elementor-widget-dustro-servicebox2" data-id="8510baa" data-element_type="widget" data-widget_type="dustro-servicebox2.default">
										<div class="elementor-widget-container">

											<div class="servicebox servicebox2">
												<div>
													<img decoding="async" src="../wp-content/uploads/2021/09/Img-Placeholder2-11-1.jpg" alt="">
												</div>
												<div class="servicebox-title">
													<h3><i class="fas fa-ambulance"></i> Emergency Team</h3>
												</div>
												<div class="text-wrapper">
													<ul class="servicebox-list show2">
														<li><i class="fas fa-check"></i><span>Rhoncus mattis rhoncus urna </span></li>
														<li><i class="fas fa-check"></i><span>Suspendisse nec ultricies elit, ac accumsan neque </span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
													</ul>
													<h4>Emergency Hotline 24/7</h4>
													<h5><a href="tel:"><i class="fa fa-phone"></i> +1-795-5582-795</a></h5>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-061fe8a elementor-widget elementor-widget-dustro-servicebox" data-id="061fe8a" data-element_type="widget" data-widget_type="dustro-servicebox.default">
										<div class="elementor-widget-container">

											<div class="servicebox">
												<div>
													<a class="serviceboximg" href="../family-physician/index.html"><img decoding="async" src="../wp-content/uploads/2021/09/Img-Placeholder3-11.jpg" alt=""></a>
												</div>
												<div class="servicebox-title">
													<h3><i class="fas fa-file-medical"></i> Surgery</h3>
												</div>
												<div class="text-wrapper">
													<ul class="servicebox-list show3">
														<li><i class="fas fa-check"></i><span>Rhoncus mattis rhoncus urna </span></li>
														<li><i class="fas fa-check"></i><span>Suspendisse nec ultricies elit, ac accumsan neque </span></li>
														<li><i class="fas fa-check"></i><span>Vivamus vulputate, tellus a malesu</span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
													</ul>
													<a class="serviceboxbutton" href="../family-physician/index.html">Read more <i class="fa fa-chevron-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f9dd519 elementor-invisible" data-id="f9dd519" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400}">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-9e5067b elementor-widget elementor-widget-dustro-servicebox" data-id="9e5067b" data-element_type="widget" data-widget_type="dustro-servicebox.default">
										<div class="elementor-widget-container">

											<div class="servicebox">
												<div>
													<a class="serviceboximg" href="#"><img decoding="async" src="../wp-content/uploads/2021/09/Img-Placeholder2-11-3.jpg" alt=""></a>
												</div>
												<div class="servicebox-title">
													<h3><i class="fas fa-shield-virus"></i> Surgery</h3>
												</div>
												<div class="text-wrapper">
													<ul class="servicebox-list show3">
														<li><i class="fas fa-check"></i><span>Rhoncus mattis rhoncus urna </span></li>
														<li><i class="fas fa-check"></i><span>Suspendisse nec ultricies elit, ac accumsan neque </span></li>
														<li><i class="fas fa-check"></i><span>Vivamus vulputate, tellus a malesu</span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
													</ul>
													<a class="serviceboxbutton" href="#">Read more <i class="fa fa-chevron-right"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-066efaf elementor-widget elementor-widget-dustro-servicebox" data-id="066efaf" data-element_type="widget" data-widget_type="dustro-servicebox.default">
										<div class="elementor-widget-container">

											<div class="servicebox">
												<div>
													<a class="serviceboximg" href="#"><img decoding="async" src="../wp-content/uploads/2021/09/Img-Placeholder2-1.jpg" alt=""></a>
												</div>
												<div class="servicebox-title">
													<h3><i class="fa fa-user-md"></i> Family Physician</h3>
												</div>
												<div class="text-wrapper">
													<ul class="servicebox-list show3">
														<li><i class="fas fa-check"></i><span>Rhoncus mattis rhoncus urna </span></li>
														<li><i class="fas fa-check"></i><span>Suspendisse nec ultricies elit, ac accumsan neque </span></li>
														<li><i class="fas fa-check"></i><span>Vivamus vulputate, tellus a malesu</span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
														<li><i class="fas fa-check"></i><span></span></li>
													</ul>
													<a class="serviceboxbutton" href="#">Read more <i class="fa fa-chevron-right"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
						<div class="elementor-section elementor-top-section elementor-element elementor-element-86c6b33 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="86c6b33" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f9ab3a2 elementor-invisible" data-id="f9ab3a2" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-d29527f elementor-widget elementor-widget-image-carousel" data-id="d29527f" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;slides_to_show_tablet&quot;:&quot;3&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
											<div class="elementor-widget-container">
												<div class="elementor-image-carousel-wrapper swiper" role="region" aria-roledescription="carousel" aria-label="Image Carousel" dir="ltr">
													<div class="elementor-image-carousel swiper-wrapper" aria-live="off">
														<div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="1 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/LOGO_ai_rgb.png" alt="LOGO_ai_rgb" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="2 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/MEDICAL-HEALTH-logo.png" alt="MEDICAL-HEALTH-logo" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="3 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/humancare.png" alt="humancare" /></figure></div><div class="swiper-slide" role="group" aria-roledescription="slide" aria-label="4 of 4"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="../wp-content/uploads/2021/09/medicallogo.png" alt="medicallogo" /></figure></div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div><!-- .entry-content -->
		</div><!-- .post-inner -->
		</div>