@{
    ViewData["Title"] = "Payment Failed";
}

<div class="container mt-5">
    <div class="alert alert-danger text-center p-5" style="background-color: #f8d7da; color: #721c24;">
        <h1 class="display-4">Payment Failed!</h1>
        <p class="lead">Something went wrong during the process.</p>
        <hr>
        <a asp-action="Index" asp-controller="Appointment" class="btn btn-outline-danger">Appointment</a>
    </div>
</div>